@{
    ViewData["Title"] = "Home Page";
}
@model List<UserDTO>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<script>$(function () { alert("aa" })</script>
@foreach (var userDTO in Model)
{
    <tr><th></th><th></th><th></th></tr>
    <tr><td>@userDTO.Id</td><td>@userDTO.Name</td></tr>
}