<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZP</title>
</head>
<body>
    <mini-profiler />
    <div class="container">
        @RenderBody()
    </div>
    <
        @RenderSection("FooterScript", false)
   </body>
</html>
